<!-- search page -->

<form action="/search" method="post">
  Job Title:<br>
  <input type="text" name="job_title" value="">
  <br>
  Location:<br>
  <input type="text" name="job_location" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
