<h1>Editing Job</h1>

<%= render 'form', job: @job %>

<button type="button" class="btn"><%= link_to 'Back', jobs_path %></button>
<button type="button" class="btn"><%= link_to 'Show', @job %></button>
